<a href="/">
<span id="menu_span">
<p id='menu_logo'><img src='../images/logo.webp'></p>
</span>
</a>

  <h1>Multiple Records Found for {{name}}</h1>
<div class="response">
  <table>
    <tr>
    {{#each keys}}
      <th>
      {{this}}
      </th>
    {{/each}}
    </tr>
    {{#each values}}
    <tr>
      {{#each value}}
      <td>
      {{this}}
      </td>
      {{/each}}
      <td>
      <form action="{{../action}}">
      <input type="hidden" id="fname" name="fname" value="">
      <input type="hidden" id="lname" name="lname" value="">
      <input type="hidden" id="client_id" name="client_id" value="{{value.[0]}}">
      <input type="hidden" id="consultations" name="consultations" value="{{../consultations}}">
      <input type="hidden" id="supplements" name="supplements" value="{{../supplements}}">
      <input type="hidden" id="articles" name="articles" value="{{../articles}}">
      <input type="hidden" id="date" name="date" value="{{../date}}">
      <input type="hidden" id="time" name="time" value="{{../time}}">
      <input type="hidden" id="time_frame" name="time_frame" value="{{../time_frame}}">
      <input type="hidden" id="radio_client" name="radio_client" value="{{../radio_client}}">
      <input type="submit" value="Submit">
      </form>
      </td>
    </tr>
    {{/each}}

  </table>
