<a href="/">
<span id="menu_span">
<p id='menu_logo'><img src='../images/logo.webp'></p>
</span>
</a>

  <h1>Records for {{title}}</h1>
<div class="response">
  <table>
    <tr>
    {{#each keys}}
    <th>
      {{this}}
    </th>
    {{/each}}
    <tr>
    {{#each values}}
    <tr>
    {{#each value}}
    <th>
      {{this}}
    </th>
    {{/each}}
    <tr>
    {{/each}}
  </table>
    {{#if supplements}}
  <table>
    <tr>
      Reccomended Supplements
    </tr>
    {{#each supplement}}
    <th>
      {{this}}
    </th>
    {{/each}}
    {{/if}}
  </table>
  {{#if articles}}
<table>
  <tr>
    Reccomended Articles
  </tr>
  {{#each articles}}
  <th>
    {{this}}
  </th>
  {{/each}}
  {{/if}}
</table>
</div>
