<a href="/">
  <span id="menu_span">
    <p id='menu_logo'><img src='../images/logo.webp'></p>
  </span>
</a>

<h1>{{title}}</h1>
<div class="response">
  <form action={{../action}}>
    <input type="hidden" id="searchFname" name="searchFname" value="">
    <input type="hidden" id="searchLname" name="searchLname" value="">
    <input type="hidden" id="searchClient_id" name="searchClient_id" value="{{record.[0].[Client ID]}}">
    <input type="hidden" id="supplement_id" name="supplement_id" value="{{supplement.[0].supplement_id}}">
    <input type="hidden" id="updateConfirmed" name="updateConfirmed" value="true">
    {{#if record.[0].[Email Address]}}
      <label for="fname">Updated First Name: </label><input type="text" id="fname" name="fname" value="{{record.[0].[First Name]}}"><br>
      <label for="lname">Updated Last Name: </label><input type="text" id="lname" name="lname" value="{{record.[0].[Last Name]}}"><br>
      <label for="phone">Updated Phone Number: </label><input type="tel" id="phone" name="phone" value="{{record.[0].[Phone Number]}}"><br>
      <label for="email">Updated Email: </label><input type="email" id="email" name="email" value="{{record.[0].[Email Address]}}"><br>
      <label for="street">Updated Street Address: </label><input type="text" id="street" name="street" value="{{record.[0].[Street Address]}}"><br>
      <label for="city">Updated City: </label><input type="text" id="city" name="city" value="{{record.[0].City}}"><br>{{/if}}
    {{#if record.[0].[Consultation ID]}}<input type="hidden" id="consultation_id" name="consultation_id" value="{{record.[0].[Consultation ID]}}">
      <input type="hidden" id="fname" name="fname" value="">
      <input type="hidden" id="lname" name="lname" value="">
      <label for="date">New Date: </label><input type="date" id="date" name="date" value="{{record.[0].Date}}"><br>
      <label for="time">New Time: </label><input type="time" id="time" name="time" value="{{record.[0].Time}}"><br>
      <label for="completed">Completed: </label><input type="checkbox" id="completed" name="completed" value="{{record.[0].Completed}}"><br>
      <label for="paid">Paid: </label><input type="checkbox" id="paid" name="paid" value="{{record.[0].Paid}}"><br>
      <label for="notes">Notes: <textarea id="notes" name="notes" rows="5" columns="100">{{record.[0].Notes}}</textarea><br>{{/if}}
    {{#if article}}
      <input type="hidden" id="article_id" name="article_id" value="{{article.[0].article_id}}">
      <label for="new_title">Updated Title: </label><input type="text" id="title" name="title" value="{{article.[0].title}}"><br>
      <label for="add_supp">Add Supplement Relation:</label> <select class="supp_list" name="add_supp">
        <option value=""></option>{{#each outer_supp}}
          <option value="{{this.supplement_id}}">"{{#if this.brand_name}}{{brand_name}} :{{/if}}{{this.type}}"</option>
        {{/each}}
      </select><br>
      <label for="remove_supp">Remove Supplement Relation:</label> <select class="supp_list" name="remove_supp">
        <option value=""></option>{{#each inner_supp}}
          <option value="{{this.supplement_id}}">"{{#if this.brand_name}}{{brand_name}} :{{/if}}{{this.type}}"</option>
        {{/each}}
      </select><br>
      <label for="add_cond">Add Condition Relation: </label> <select class="cond_list" name="add_cond">
        <option value=""></option>{{#each outer_cond}}
          <option value="{{this.condition_id}}">{{this.condition_name}}</option>
        {{/each}}
      </select><br>
      <label for="remove_cond">Remove Condition Relation: </label> <select class="cond_list" name="remove_cond">
        <option value=""></option>{{#each inner_cond}}
          <option value="{{this.condition_id}}">{{this.condition_name}}</option>
        {{/each}}
      </select><br>
      <label for="author">Updated Author: </label><input type="text" id="author" name="author" value="{{article.[0].author}}"><br>
      <label for="publication">Updated Publication: </label><input type="text" id="publication" name="publication" value="{{article.[0].publication}}"><br>
      <label for="date">Updated Publish Date: </label><input type="date" id="date" name="date" value="{{article.[0].publish_date}}"><br>
      <label for="website">Updated Website link: </label><input type="text" id="website" name="website" value="{{article.[0].website}}"><br>
    {{/if}}

    {{#if supplement}}
      <label for="type">New Type: </label><input type="text" id="type" name="type" value="{{supplement.[0].type}}"><br>
      <label for="brand">Change Brand: </label><select class="brand" name="brand"><option value="NULL">None</option>{{#each brand_list}}<option value="{{this.brand_id}}">{{this.brand_name}}</option>{{/each}}</select><br>
      <label for="add_cond">Add new condition relationship: </label><select class="cond_list" name="add_cond"><option value=""></option>{{#each outer_supp_cond_list}}<option value="{{this.condition_id}}">{{this.condition_name}}</option>{{/each}}</select><br>
      <label for="remove_cond">Remove condition relationship: </label><select class="cond_list" name="remove_cond"><option value=""></option>{{#each inner_supp_cond_list}}<option value="{{this.condition_id}}">{{this.condition_name}}</option>{{/each}}</select><br>
    {{/if}}

    <input type="hidden" id="updateFname" name="updateFname" value="">
    <input type="hidden" id="updateLname" name="updateLname" value="">
    <input type="hidden" id="client_id" name="client_id" value={{record.[0].[Client ID]}}>
    <input type="submit" value="Submit">
  </form>
</div>
